<div class="menu-wrapper">
<ul class="menu-list">
  <li class="menu-item" routerLinkActive="active"><a  routerLink="/my-page">My Profile</a></li>
  <li class="menu-item" routerLinkActive="active"><a  routerLink="/friends">Friends</a></li>
  <li class="menu-item" routerLinkActive="active" (click)="OnMessage()"><a  routerLink="/messages">Messages</a></li>
  <li class="menu-item" routerLinkActive="active"><a  routerLink="/members">Members</a></li>
  <li class="menu-item" routerLinkActive="active"><a  routerLink="/settings">Settings</a></li>
</ul>
</div>
